<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose action</title>
</head>
<body topmargin="50">
<div align="center">
    <a href="/choose-action/add">Add</a><br><br>
    <a href="/choose-action/delete">Delete</a><br><br>
    <a href="/choose-action/take">Take</a><br><br>
    <a href="/choose-action/return">Return</a><br><br>
    <a href="/choose-action/show">Show</a><br><br>
</div>
<br><br>
<br><br>
<div align="center" style="font-size: 130%">
    <br><br>
    <p th:insert="/refs/refs-template :: ref-to-login-item"></p>
</div>
</body>
</html>