<div th:fragment="add-book-form">
    <form method="post" action="/choose-action/add" id="addBookForm">
        <label for="book-title">Title: </label>
        <input id="book-title" type="text" name="title"><br><br>
        <label for="book-pages">Pages: </label>
        <input id="book-pages" type="text" name="pages"><br><br>
        <label for="book-author">Author: </label>
        <input id="book-author" type="text" name="author"><br><br>
        <label for="date">Publishing date: </label><br><br>

        <input id="date" type="date"
               data-date-format="yyyy-mm-dd"
               name="date" max="2022-10-03"><br><br>

        <button type="submit">Add Book</button>
    </form>

    <script>
        formId = "addBookForm";
        refToRedirect = "/choose-action";
        initWork();
    </script>

</div>
<div th:fragment="add-item-form">
    <form method="post" action="/choose-action/add" id="addItemForm">
        <label for="items-title">Title: </label>
        <input id="items-title" type="text" name="title"><br><br>
        <label for="items-pages">Pages: </label>
        <input id="items-pages" type="text" name="pages"><br><br>
        <button type="submit">Add Item</button>
    </form>
    <script>
        formId = "addItemForm";
        refToRedirect = "/choose-action";
        initWork();
    </script>
</div>
<div th:fragment="add-comics-form">
    <form method="post" action="/choose-action/add" id="addComicsForm">
        <label for="comics-title">Title: </label>
        <input id="comics-title" type="text" name="title"><br><br>
        <label for="comics-pages">Pages: </label>
        <input id="comics-pages" type="text" name="pages"><br><br>
        <label for="comics-publisher">Publisher: </label>
        <input id="comics-publisher" type="text" name="pages"><br><br>
        <button type="submit">Add Comics</button>
    </form>
    <script>
        formId = "addComicsForm";
        refToRedirect = "/choose-action";
        initWork();
    </script>
</div>

<div th:fragment="delete-item-form">
    <form method="post" action="/choose-action/delete">
        <label for="delete-id">Item ID: </label>
        <input id="delete-id" type="text" name="item_id"><br><br>
        <input type="submit" value="Delete"/>
    </form>
    <script>
        formId = "addComicsForm";
        refToRedirect = "/choose-action";
        initWork();
    </script>
</div>

<div th:fragment="return-item-form">
    <form method="post" action="/choose-action/return">
        <label for="return-id">Item ID: </label>
        <input id="return-id" type="text" name="item_id"><br><br>
        <input type="submit" value="Return"/>
    </form>
    <script>
        formId = "addComicsForm";
        refToRedirect = "/choose-action";
        initWork();
    </script>
</div>

<div th:fragment="take-item-form">
    <form method="post" action="/choose-action/take">
        <label for="take-id">Item ID: </label>
        <input id="take-id" type="text" name="item_id"><br><br>
        <button type="submit">Take</button>
    </form>
    <script>
        formId = "addComicsForm";
        refToRedirect = "/choose-action";
        initWork();
    </script>
</div>

<div th:fragment="books-sorting-options">
    <form method="post" action="/choose-action/show">
        Choose parameter for sorting<br><br>
        <input type="radio" name="sorting-param" value="item_id"/>Item ID<br><br>
        <input type="radio" name="sorting-param" value="title"/>Title<br><br>
        <input type="radio" name="sorting-param" value="pages"/>Pages<br><br>
        <input type="radio" name="sorting-param" value="author"/>Author<br><br>
        <input type="radio" name="sorting-param" value="publishing_date"/>Publishing Date<br><br>
        <button type="submit">
            Show
        </button>
    </form>
</div>

<div th:fragment="comics-sorting-options">
    <form method="post" action="/choose-action/show">
        Choose parameter for sorting<br><br>
        <input type="radio" name="sorting-param" value="item_id"/>Item ID<br><br>
        <input type="radio" name="sorting-param" value="title"/>Title<br><br>
        <input type="radio" name="sorting-param" value="pages"/>Pages<br><br>
        <input type="radio" name="sorting-param" value="publisher"/>Publisher<br><br>
        <button type="submit">
            Show
        </button>
    </form>
</div>

<div th:fragment="items-sorting-options">
    <form method="post" action="/choose-action/show">
        Choose parameter for sorting<br><br>
        <input type="radio" name="sorting-param" value="item_id"/>Item ID<br><br>
        <input type="radio" name="sorting-param" value="title"/>Title<br><br>
        <input type="radio" name="sorting-param" value="pages"/>Pages<br><br>
        <button type="submit">
            Show
        </button>
    </form>
</div>
