<div th:fragment="refs-to-login-item-action">
  <div align="center">
    <br><br>
    <a th:fragment="change-user" href="/login-spring" style="font-size: 120%">Change user</a><br><br>
    <a href="/choose-item" style="font-size: 120%">Return to item menu</a><br><br>
    <a href="/choose-action" style="font-size: 120%">Choose another action</a><br><br>
  </div>
</div>

<div th:fragment="refs-to-login-item">
  <div align="center">
    <br><br>
    <a href="/login-spring" style="font-size: 120%">Change user</a><br><br>
    <a href="/choose-item" style="font-size: 120%">Return to item menu</a><br><br>
  </div>
</div>

<div th:fragment="refs-to-show-login-item">
  <div align="center">
    <br><br>
    <a href="/show-all-the-items" style="font-size: 130%; text-decoration: none">Show all the items</a><br><br>
    <a href="/login-spring" style="font-size: 120%">Change user</a><br><br>
    <a href="/choose-item" style="font-size: 120%">Return to item menu</a><br><br>
  </div>
</div>

