<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body topmargin="150">
<div align="center" ер>

    <form method="post" action="/choose-item">
        <label>Choose item:</label><br><br>
        <input type="radio" name="type-of-item" value="Newspaper"/>Newspaper<br><br>
        <input type="radio" name="type-of-item" value="Book"/>Book<br><br>
        <input type="radio" name="type-of-item" value="Comics"/>Comics<br><br>
        <input type="radio" name="type-of-item" value="Journal"/>Journal<br><br><br><br>
        <input type="submit" value="Choose"/>
    </form>

    <br><br>
    <a href="/show-all-the-items" style="font-size: 130%; text-decoration: none">Show all the items</a>
</div>

<div style="text-align: center">
    <br><br>
    <a href="/login-spring" style="font-size: 120%">Change user</a><br>
    <a href="/file-work" style="font-size: 120%">Change type of work with files</a>
</div>

</body>
</html>