<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body topmargin="150">
<div align="center">
    <form method="post">
        <label >Choose how to work with files:</label><br><br>
        <input type="radio" name="type-of-work" value="oneFile" />Work with one file<br><br>
        <input type="radio" name="type-of-work" value="filePerItem" />Work with file per type<br><br>
        <input type="radio" name="type-of-work" value="databaseSQLite" />Use database (SQLite)<br><br>
        <input type="radio" name="type-of-work" value="databaseMySQL" />Use database (MySQL)<br><br>
        <input type="submit" value="Submit">
    </form>
</div>

<div align="center">
    <br><br>
    <a href="login" style="font-size: 120%">Change user</a>
</div>

</body>
</html>