<web-app>
    <a href="http://www.w3.org/2001/XMLSchema-instance">http://www.w3.org/2001/XMLSchema-instance</a>
    <display-name>MyServlet</display-name>

    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainMenuServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.MainMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilesWorkChoosingServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.FilesWorkChoosingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseItemServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.ChooseItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseActionServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.ChooseActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllTheItemsServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.ShowAllTheItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowItemServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.BorrowItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnItemServlet</servlet-name>
        <servlet-class>com.company.tomcat_server.ReturnItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilesWorkChoosingServlet</servlet-name>
        <url-pattern>/file-work-choose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseItemServlet</servlet-name>
        <url-pattern>/choose-item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseActionServlet</servlet-name>
        <url-pattern>/actions/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllTheItemsServlet</servlet-name>
        <url-pattern>/show-all-the-items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowItemServlet</servlet-name>
        <url-pattern>/borrow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnItemServlet</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>