
<included>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.FileAppender"/>
    <property name="LOGS" value="./socket-server/logs" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./socket-server/logs/socket-server-logs.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5p | [%thread] %logger{5}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.company" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

</included>